In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.15.2-py3-none-any.whl (10.2 MB)
     -------------------------------------- 10.2/10.2 MB 309.0 kB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\a\anaconda3\lib\site-packages (from selenium) (1.26.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Collecting trio~=0.17
  Downloading trio-0.23.1-py3-none-any.whl (448 kB)
     ------------------------------------ 448.3/448.3 kB 175.2 kB/s eta 0:00:00
Requirement already satisfied: sortedcontainers in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: idna in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.3-py3-none-any.whl (14 kB)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     -------------------------------------- 58.3/58.3 kB 340.6 kB/s eta 0:00:00
Installing collected packages: sniffio, outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed exceptiongroup-1.1.3 h11-0.14.0 outcome-1.3.0.post0 selenium-4.15.2 sniffio-1.3.0 trio-0.23.1 trio-websocket-0.11.1 wsproto-1.2.0

In [4]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [58]:
driver = webdriver.Chrome()

Question-1

In [60]:
driver.get("https://www.shine.com/")

In [62]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Analyst")

In [64]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [65]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [101]:
job_location=[]
company_name=[]
experience_required=[]

In [102]:
company_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']")
for i in company_tags:
    company=i.text
    company_name.append(company)

location_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_lists__fdnsc']")
for i in location_tags:
    location=i.text
    job_location.append(location)

experience_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [103]:
print(len(company_name),len(job_location),len(experience_required))

20 20 20

In [104]:
import pandas as pd
df=pd.DataFrame({'Location':job_location, 'Company_name':company_name,'Experience':experience_required})
df

                      Location             Company_name   Experience
0   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
1   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
2    0 to 2 Yrs\nBangalore\n+4          quiscon biotech   0 to 2 Yrs
3   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
4   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
5   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
6        1 to 3 Yrs\nBangalore                merck ltd   1 to 3 Yrs
7     0 to 1 Yr\nBangalore\n+6            techno endura    0 to 1 Yr
8        0 to 4 Yrs\nBangalore                 jpmorgan   0 to 4 Yrs
9   0 to 4 Yrs\nBangalore\n+14        divya interprises   0 to 4 Yrs
10   0 to 2 Yrs\nBangalore\n+9  v-tech data outsourcing   0 to 2 Yrs
11      5 to 10 Yrs\nBangalore      cisco systems, inc.  5 to 10 Yrs
12       2 to 4 Yrs\nBangalore                    paytm   2 to 4 Yrs
13       3 to 5 Yrs\nBangalore                     dell   3 to 5 Yrs
14       3 to 5 Yrs\nBangalore                 jpmorgan   3 to 5 Yrs
15       2 to 3 Yrs\nBangalore       schneider electric   2 to 3 Yrs
16       2 to 4 Yrs\nBangalore      futures and careers   2 to 4 Yrs
17       2 to 4 Yrs\nBangalore      futures and careers   2 to 4 Yrs
18       5 to 7 Yrs\nBangalore              ntt limited   5 to 7 Yrs
19       4 to 6 Yrs\nBangalore          infosys limited   4 to 6 Yrs

Question-2

In [105]:
driver = webdriver.Chrome()

In [106]:
driver.get("https://www.shine.com/")

In [108]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Scientist")

In [109]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [110]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [112]:
job_location=[]
company_name=[]
experience_required=[]

In [113]:
company_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']")
for i in company_tags:
    company=i.text
    company_name.append(company)

location_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_lists__fdnsc']")
for i in location_tags:
    location=i.text
    job_location.append(location)

experience_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [114]:
print(len(company_name),len(job_location),len(experience_required))

20 20 20

In [115]:
import pandas as pd
df=pd.DataFrame({'Location':job_location, 'Company_name':company_name,'Experience':experience_required})
df

,Location,Company_name,Experience
0,0 to 4 Yrs\nBangalore\n+14,divya interprises,0 to 4 Yrs
1,0 to 4 Yrs\nBangalore\n+14,divya interprises,0 to 4 Yrs
2,0 to 3 Yrs\nBangalore,the fashion cosmo,0 to 3 Yrs
3,3 to 5 Yrs\nBangalore,bosch group,3 to 5 Yrs
4,0 to 3 Yrs\nBangalore,shiva hr services,0 to 3 Yrs
5,3 to 5 Yrs\nBangalore,bosch group,3 to 5 Yrs
6,2 to 5 Yrs\nBangalore,bosch group,2 to 5 Yrs
7,0 to 4 Yrs\nBangalore\n+14,divya interprises,0 to 4 Yrs
8,3 to 6 Yrs\nBangalore,racanaa energy solution private lim...,3 to 6 Yrs
9,8 to 12 Yrs\nBangalore,true caller,8 to 12 Yrs
10,6 to 11 Yrs\nBangalore\n+8,capgemini technology services india...,6 to 11 Yrs
11,3 to 5 Yrs\nBangalore,jpmorgan,3 to 5 Yrs
12,0 to 4 Yrs\nBangalore,siemens limited,0 to 4 Yrs
13,3 to 6 Yrs\nBangalore\n+1,mnr solutions pvt ltd,3 to 6 Yrs
14,0 to 4 Yrs\nBangalore,bosch group,0 to 4 Yrs
15,3 to 6 Yrs\nBangalore\n+6,mnr solutions pvt ltd,3 to 6 Yrs
16,0 to 4 Yrs\nBangalore,mercede,0 to 4 Yrs
17,0 to 3 Yrs\nBangalore,the fashion cosmo,0 to 3 Yrs
18,0 to 4 Yrs\nBangalore,bosch group,0 to 4 Yrs
19,0 to 2 Yrs\nBangalore,infosys limited,0 to 2 Yrs

Question-3

In [150]:
driver = webdriver.Chrome()

In [151]:
driver.get("https://www.shine.com/")

In [152]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys("Data Scientist")

In [153]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [154]:
location_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location_filter.click()

In [157]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button')
salary.click()

In [158]:
job_location=[]
company_name=[]
experience_required=[]

In [159]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [160]:
print(len(company_tags),len(job_location),len(experience_required))

20 20 20

In [161]:
import pandas as pd
df=pd.DataFrame({'Location':job_location, 'Company_name':company_name,'Experience':experience_required})
df

     Location                     Company_name  Experience
0   Pune\n+14                divya interprises  0 to 4 Yrs
1   Pune\n+14                divya interprises  0 to 4 Yrs
2   Pune\n+14                divya interprises  0 to 4 Yrs
3        Pune                the fashion cosmo  0 to 3 Yrs
4        Pune                shiva hr services  0 to 3 Yrs
5        Pune                      bosch group  3 to 5 Yrs
6        Pune                      bosch group  2 to 5 Yrs
7   Pune\n+14                divya interprises  0 to 4 Yrs
8   Pune\n+14                divya interprises  0 to 4 Yrs
9        Pune                the fashion cosmo  0 to 3 Yrs
10       Pune                the fashion cosmo  0 to 3 Yrs
11       Pune                       mastercard  0 to 4 Yrs
12       Pune  gfl recruitment private limited   0 to 1 Yr
13  Pune\n+17         kavya staffing solutions  0 to 4 Yrs
14       Pune                       mastercard  0 to 4 Yrs
15   Pune\n+6                  quiscon biotech   0 to 1 Yr
16       Pune                  infosys limited  1 to 4 Yrs
17       Pune                cummins india ltd  0 to 4 Yrs
18       Pune  gfl recruitment private limited   0 to 1 Yr
19       Pune  gfl recruitment private limited   0 to 1 Yr

Question-4

In [189]:
driver = webdriver.Chrome()

In [190]:
driver.get("https://www.flipkart.com/")

In [191]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys("Sunglasses")

In [192]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [197]:
search_brand=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div[2]/div[1]/div/section[5]/div[2]/div[1]/div[1]/input')
search_brand.click()

In [198]:
price_minimum=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div[1]/div[2]/div[1]/div/section[3]/div[4]/div[1]/select')
price_minimum.click()

In [199]:
price_maximum=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div[1]/div[2]/div[1]/div/section[3]/div[4]/div[3]/select')
price_maximum.click()

In [200]:
B_name=[]
Price=[]

In [203]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    price=driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
 
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [202]:
B_name[:100]

['Fastrack',
 'Nicole Miller',
 'Fastrack',
 'SRPM',
 'GANSTA',
 'ROADWAY',
 'ROADWAY',
 'VINCENT CHASE',
 'Elligator',
 'Roadster',
 'Fastrack',
 'ROYAL SON',
 'Rich Club',
 'Roadster',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'METRONAUT',
 'Roadster',
 'john jacobs',
 'VINCENT CHASE',
 'Elligator',
 'ROADWAY',
 'PIRASO',
 'ROADWAY',
 'Fastrack',
 'Fastrack',
 'iCopertina',
 'Rich Club',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'iCopertina',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'VINCENT CHASE',
 'DEIXELS',
 'Elligator']

In [204]:
print(len(B_name[:100])),print(len(Price[:100]))

100
100

(None, None)

In [205]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]

In [206]:
sun_gl

        Brand_name              P_price
0         Fastrack      ₹449₹89950% off
1    Nicole Miller  ₹2,499₹9,99975% off
2         Fastrack    ₹549₹1,09950% off
3             SRPM    ₹149₹1,29988% off
4           GANSTA     ₹79₹1,29993% off
..             ...                  ...
95  ROZZETTA CRAFT    ₹199₹1,29984% off
96        Fastrack      ₹254₹99974% off
97   VINCENT CHASE    ₹799₹1,99960% off
98       METRONAUT      ₹149₹59975% off
99        Roadster      ₹199₹94979% off

[100 rows x 2 columns]

Question-6

In [207]:
driver = webdriver.Chrome()

In [208]:
driver.get("https://www.flipkart.com/")

In [209]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys("Sneakers")

In [210]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [221]:
B_name=[]
Price=[]
P_desc=[]

In [223]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_1Y4Vhm _4FO7b6']")
    p_desc=driver.find_elements(By.XPATH,"//div[@class='_1xHGtK _373qXS']")
    price =driver.find_elements(By.XPATH,"//a[@class='_3bPFwb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [224]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [225]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [226]:
sun_gl

,Brand_name,P_price,Pr_desc
0,PUMA,"₹497₹2,49980% off",Sponsored\nBRUTON\nCombo Pack Of 2 Casual Shoe...
1,ADIDAS,"₹497₹2,49980% off",Sponsored\nBRUTON\nCombo Pack Of 2 Casual Shoe...
2,NIKE,₹299₹99970% off,Bestseller\nURBANBOX\nTrending Stylish Casual ...
3,CAMPUS,₹296₹99970% off\nFree delivery,Bestseller\nLayasa\nSneakers For Men\n₹296₹999...
4,Skechers,"₹1,934₹4,49957% off","PUMA\nImpel Sneakers For Men\n₹1,934₹4,49957% ..."
...,...,...,...
95,Arivo,"₹1,429₹2,99952% off",Bestseller\nPUMA\nHustle V2 Sneakers For Men\n...
96,ARIWA,"₹497₹2,49980% off\nFree delivery","PUMA\nBuzz Sneakers For Men\n₹1,298₹4,49971% o..."
97,ARMADO,"₹497₹2,49980% off\nFree delivery","Sponsored\nRAVDI\nSneakers For Men\n₹549₹2,999..."
98,AROOM,"₹1,198₹3,99970% off\nFree delivery",Sponsored\nSOLETHREADS REBEL\nSneakers For Men...
99,ARTHFOG,"₹1,298₹4,49971% off\nFree delivery",Deals4you\nSneakers For Women\n₹409₹99959% off...

Question-7

In [240]:
driver = webdriver.Chrome()

In [241]:
driver.get("http://www.amazon.in/")

In [242]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys("Laptop")

In [243]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [244]:
search_processor=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/span[12]/li/span/a")
search_processor.click()

In [245]:
Title=[]
Price=[]
Rating=[]

In [251]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    rating=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [252]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
0
100

(None, None, None)

Question-9

In [255]:
driver = webdriver.Chrome()

In [256]:
driver.get("http://www.jagranjosh.com/")

In [263]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a")
search.click()

In [268]:
search_pm=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search_pm.click()

Question-10

In [270]:
driver = webdriver.Chrome()

In [275]:
driver.get("https://www.motor1.com/")

In [282]:
designation=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
designation.send_keys("50 most expensive cars")

In [284]:
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [286]:
car_names = driver.find_elements(By.XPATH,'//div[@class="article-content"]/h3')
car_prices = driver.find_elements(By.XPATH,'//div[@class="article-content"]/p')

In [287]:
data = []
for name, price in zip(car_names, car_prices):
  data.append([name.text, price.text])

In [288]:
df = pd.DataFrame(data, columns=['Car Name', 'Price'])
print(df)

Empty DataFrame
Columns: [Car Name, Price]
Index: []